---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

a:hover, a:focus {
  font-weight: normal;
}

a:hover {
  text-decoration:underline;
}

section {
  width: 550px;
}

header ul.toc {
  list-style: none;
  list-style-type: disc;
  height: auto;
  padding: 0 12px;
  margin: 0;
  background: none;
  border-radius: 0;
  border: 0;
  width: auto;
  color: #267CB9;
}

header ul.toc li {
  width: inherit;
  float: none;
  border-right: none;
  height: auto;
}

header ul.toc a {
  line-height: 1;
  font-size: 14px;
  color: #267CB9;
  display: inline;
  text-align: left;
  padding-top: 0;
  height: auto;
}

header ul.toc a:hover {
  font-weight: normal;
}