<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Tamagotchi Tech Specs — tamagotch.org</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="keywords" content="tamagotchi, technical specs, hardware, reverse engineering, tamatown, tamago, tamagotchi friends, tamagotchi mini" />
    <meta name="description" content="Technical specifications of Tamagotchi toys, with focus on worldwide releases." />
    <meta name="referrer" content="always" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="Tamagotchi Tech Specs">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="http://tamagotch.org/" />
    <meta property="og:site_name" content="Tamagotchi Tech Specs" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="http://tamagotch.org/" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="http://tamagotch.org"><img src="assets/img/sprites.jpg" alt="tamagotchi sprites"/></a>
        <h1><a href="http://tamagotch.org">tamagotch.org</a></h1>
        <p>
          Tamagotchi Tech Specs Collection<br/>By <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        </p>
        <ul class="toc">
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#tamagotchi-original-series">Original Series</a></li>
          <li><a href="#tamagotchi-connection-series">Connection Series</a></li>
          <li><a href="#tamagotchi-mini">Mini</a></li>
          <li><a href="#tamatown-tama-go">TamaTown Tama-Go</a></li>
          <li><a href="#tamagotchi-friends-series">Friends Series</a></li>
          <li><a href="#japanese-series">Japanese Series</a></li>
          <li><a href="#references">References</a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Tamagotchi is a trademark of Bandai. This website is not affiliated or endorsed by Bandai in any way.</small></p>
        <p class="view"><small><a href="{{ site.github.repository_url }}">View on GitHub</a></small><br/>
        <a class="github-button" href="https://github.com/loociano/tamagotch" data-show-count="true" aria-label="Star loociano/tamagotch on GitHub">Star</a><br/>
        <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
