<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Tamagotchi Tech Specs — tamagotch.org</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <meta property="og:title" content="Tamagotchi Tech Specs">
    <meta property="og:locale" content="en_US">
    <link rel="canonical" href="http://tamagotch.org/">
    <meta property="og:url" content="http://tamagotch.org/">
    <meta property="og:site_name" content="Tamagotchi Tech Specs">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="assets/img/sprites.jpg" alt="tamagotchi sprites"/>
        <h1>tamagotch.org</h1>
        <p>Tamagotchi Tech Specs<br/>by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        
        <ul class="toc">
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#original-series">Original Series</a></li>
          <li><a href="#connection-series">Connection Series</a></li>
          <li><a href="#mini">Mini</a></li>
          <li><a href="#tamatown-tama-go">TamaTown Tama-Go</a></li>
          <li><a href="#friends-series">Friends Series</a></li>
          <li><a href="#references">References</a></li>
        </ul>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Tamagotchi is a trademark of Bandai. This website is not affiliated or endorsed by Bandai in any way.</small></p>
        <p class="view"><small><a href="{{ site.github.repository_url }}">View on GitHub</a></small><br/>
        <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
